<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Iva:</strong>
    <%= hotel.IVA %>
  </p>

  <p>
    <strong>Stars num:</strong>
    <%= hotel.stars_num %>
  </p>

  <p>
    <strong>Room cost:</strong>
    <%= hotel.room_cost %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= hotel.options %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

</div>
