<%if current_page?("")%>
<%nav_style="transparent-hero"%>
<%else%>
<%nav_style="hero-banner"%>
<%end%>
<div class="<%=nav_style%>">
  <div class="container">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 top-nav ">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top-nav" >
      <%= link_to "HOTELS",root_path, class:"links"%>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 top-nav">
      <%= link_to 'Mie prenotazioni',prenotations_path,class:"links" %>
      <span>|</span>
      <%= link_to "Registra la tua struttura",hotels_path, class:"links"%>
      <span>|</span>
      <%= link_to 'Registrati',registers_path, class:"links" %>
      <span>|</span>
      <%= link_to 'Login', logins_path,class:"links" %>
    </div>
  </div>
</div>
